:root {
  --white: hsla(0, 0%, 100%, 1);
  --dark-blue: hsla(217, 44%, 22%, 1);
  --blue: hsla(216, 100%, 61%, 1);
  --grey: hsla(219, 15%, 55%, 1);
  --light-grey:hsla(211, 45%, 89%, 1); 

  --shadow: 0px 25px 25px 0px hsla(0, 0%, 0%, 0.05);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body {
  min-width: 375px;
  max-width: 1440px;
  width: 100%;
  min-height: 100vh;
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  font-weight: 400;
  background-color: var(--light-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.card {
  max-width: 320px;
  width: 100%;
  border-radius: 20px;
  box-shadow: var(--shadow);
  padding: 16px 16px 40px 16px;
  text-align: center;
  background-color: var(--white);
}

.card .img-wrapper {
  width: 288px;
  height: 288px;
  border-radius: 10px;
  margin-bottom: 24px;
  overflow: hidden;
}

.card img {
  display: block;
  width: 100%;
}

.card h1 {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: var(--dark-blue);
  margin-bottom: 16px;
}

.card p {
  line-height: 19px;
  letter-spacing: 0.1875px;
  color: var(--grey);
  padding-inline: 5px;
}